/* .ant-spin-container {
    width: 100%;
} */

.ant-list {
    width: 100%!important;
};

.ant-col {
    padding: 0!important;    
}

.ant-row {
    row-gap: 10vh!important;
}


.ant-list-item {
    height: 65vh!important;
}

.ant-card-body {
    padding: 0;
    height: 100%;
    /* position: absolute; */
}

.ant-card {
    border: none!important;
}